<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" type="image/x-icon" src="/images/ice-cream-cone.png">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <script src="/bootstrap/dist/js/bootstrap.js" defer></script>
    <script src="/bootstrap/js/dist/carousel.js" defer></script>
