</head>
<%- include('includes/head') %>

  <body>
    <%- include('includes/navbar') %>
      <!-- Email, telefon ja kaart asukohast -->
      <div id="contact">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.7906470471034!2d-72.64363249758227!3d78.31667096165201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4e3371d7a02fd293%3A0x8307426099ac70dc!2zRXRhaCwgR3LDtsO2bmltYWE!5e0!3m2!1set!2see!4v1711721028811!5m2!1set!2see"
        width="600" height="450" style="border:0; border-radius: 1rem;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="card">
        <div class="card-body">
        <h3 class="h4">Contact us at:</h1>
        <div class="h4" id="email">Email: info@example.com</div>
        <div class="h4" id="telephone">Telephone: + 01 234 567 88</div>
      </div></div></div>
      <%- include('includes/footer') %>
  </body>

  </html>