<!-- Nimekiri blogidest -->
<div id="products-section">
<div class="d-flex justify-content-around" style="margin: 10rem auto; padding-top: 1rem;">
    <div class="bg-image hover-overlay ripple product">
        <h6 class="h3">Peach Ice Cream</h6>
        <img src="/images/e62673e5f040c5c3a5e50d02218b87f0.jpeg" alt="Peach Ice Cream" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
        </a>
        <p class="price">€2.50</p>
      </div>
      <div class="bg-image hover-overlay ripple product">
        <h6 class="h3">Strawberry Ice Cream</h6>
        <img src="/images/icecreampinktopvray3dmodel001.jpg" alt="Strawberry Ice Cream" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
        </a>
        <p class="price">€2.00</p>
      </div>
      <div class="bg-image hover-overlay ripple product">
        <h6 class="h3">Raspberry Ice Cream</h6>
        <img src="/images/Sweets_Ice_cream_Raspberry_Pink_color_Balls_520514_1920x1080.jpg" alt="Raspberry Ice Cream" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
        </a>
        <p class="price">€1.50</p>
      </div>
      <div class="bg-image hover-overlay ripple product">
        <h6 class="h3">Melon Ice Cream</h6>
        <img src="/images/wp3146628.jpg" alt="Melon Ice Cream" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
        </a>
        <p class="price">€2.50</p>
      </div>
</div>

<div class="d-flex justify-content-around" style="margin: 10rem auto;">
    <div class="bg-image hover-overlay ripple product">
        <h6 class="h3">Cone Ice Cream</h6>
        <img src="/images/Ice_cream_Berry_559814_1920x1080.jpg" alt="Cone Ice Cream" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
        </a>
        <p class="price">€1.00</p>
      </div>
      <div class="bg-image hover-overlay ripple product">
        <h6 class="h3">M&M Covered Ice Cream</h6>
        <img src="/images/ice-cream-dessert-with-colorful-candies-on-white-background-1920x1080.jpg" alt="M&M Covered Ice Cream" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
        </a>
        <p class="price">€3.00</p>
      </div>
      <div class="bg-image hover-overlay ripple product">
        <h6 class="h3">Lime Ice Cream</h6>
        <img src="/images/lime-1920-x-1080-background-azc7375r2vjtjo2b.jpg" alt="Lime Ice Cream" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
        </a>
        <p class="price">€1.00</p>
      </div>
      <div class="bg-image hover-overlay ripple product">
        <h6 class="h3">Chocolate Mint Ice Cream</h6>
        <img src="/images/wp5838975.jpg" alt="Chocolate Mint Ice Cream" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
        </a>
        <p class="price">€3.00</p>
      </div>
</div></div>